@charset "utf-8";
html, body {
	margin:0;
	padding:0;
	bottom:0;
	top:0;
	height: 100%;
}

* {margin:0;padding:0}

table, td {border-collapse: collapse; vertical-align:top}

td {
	margin: 0;
	padding: 0;
}

img {border:0}



body {
	font-family: "Arial", sans-serif;
	font-size: 12px;
	line-height:140%;
	color:#676767;
}

input, textarea {
	font-family: "Arial", sans-serif;
	font-size: 15px;
	color:#676767;
}


a {text-decoration: underline; color:#29ABE2; }
a:hover {text-decoration: none;}

.clr { display:block; clear:both}


body { min-width: 1000px; background-color:#fff;  }

.mt5 {margin-top: 5px}
.mt10 {margin-top: 10px}
.mt15 {margin-top: 15px}
.mt20 {margin-top: 20px}
.mt25 {margin-top: 25px}
.mt30 {margin-top: 30px}
.mt35 {margin-top: 35px}
.mt40 {margin-top: 40px}
.mt50 {margin-top: 50px}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

* html ul li {  zoom:1; }



.fll {float:left;}
.flr {float:right}

.clr {display:block; clear:both}
.holy, .clrfix {height: 1%}
.clrfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/****/
del {display:none;}

.f14 {font-size:14px; line-height:20px;}

.canvas {width:904px;  margin-left:auto; margin-right:auto;}

body {background:url(i/bgc.jpg) top center repeat-x;}
.bgg {background:url(i/bgg.png) top left repeat-x;}

.left, .right {float:left; width:405px; display:inline;margin-left:30px;}
.full {padding:0 30px;}

.mt30 {margin-top:30px;}
.p30 {padding:25px 30px;}
.p30r {padding:25px 30px; padding-right:0;}

h1 {font-size:18px; line-height:25px;}
h2 {font-size:24px; font-weight:normal; line-height:29px; color:#93278F; padding-bottom:15px;}

.logo {background:url(i/logo.png) no-repeat; width:203px; height:32px; display:block;}
.top {color:#FFF; padding-top:20px; padding-bottom:13px;}
.top a {color:#F7931E;}
.top h2 {color:#FFF; line-height:32px; font-weight:normal; padding-bottom:0;}
.top .right {text-align:right;}

.brd {border:1px solid #F2F2F2;}
.bg {border:1px solid #fff;background-color:#F2F2F2;}

.about {margin-top:-15px; color:#676767; ;}

.header {background:url(i/bgt.png) top center no-repeat; height:307px; z-index:200; position:relative;}
.header3 {background:url(i/bgt2.png) top center no-repeat; height:307px; z-index:200;  margin-bottom:-290px;}
.header2 {position:relative;top:18px; background:url(i/woman.jpg)  center top no-repeat; width:874px; height:270px;margin-left:auto; margin-right:auto; padding-left:30px;}
.header2 img {margin-top:28px;}
.header2 h1 {color:#676767; width:600px; margin-top:5px; font-weight:normal;}

.price {background:url(i/price.png) top center no-repeat; display:block; width:374px; height:54px; margin-left:auto; margin-right:auto; margin-top:25px;}
.price_download {background:url(i/price_download.png) top center no-repeat; display:block; width:344px; height:54px; margin-left:auto; margin-right:auto; margin-top:25px;}

.bul li {background:url(i/bul.png) 10px 010px no-repeat;text-indent: 25px; padding:3px 0;}
p {padding:3px 0}

.faq dt {color:#333; font-size:15px; line-height:19px;}
.faq dd {padding-left:25px; margin-bottom:12px; margin-top:3px;background:url(i/bul.png) 10px 0 repeat-y;}

.clients h3 {font-size:18px; color:#676767; font-weight:normal;}

.clients ul li a {background-image:url(i/clients.jpg);background-repeat:no-repeat; padding-top: 72px; text-align:center; width:190px; margin-right:27px; margin-top:26px; float:left; display:inline;}
.clients .bg {padding-bottom:25px;}

.bt a{background-position:0 0;}
.ak a{background-position: -190px 0;}
.st a{background-position: -380px 0;}
.za a{background-position: -570px 0;}
.dl a{background-position: -760px 0;}
.ka a{background-position: -950px 0;}
.lk a{background-position: -1140px 0;}
.sd a{background-position: -1330px 0;}


.mtl30 {margin-top:25px; margin-left:30px;}
.start ol li {padding:3px 0; list-style-position:inside; text-indent:10px;}

ol { counter-reset: item }
ol li { display: block }
ol > li:before {
content: counter(item) ". ";
counter-increment: item;
font-weight: bold;
color: #333;
}

.start ol li ul li {text-indent:0px; list-style-type: disc;  list-style-position:inside; counter-reset: none; padding-left:25px;}
.start ol li ul li:before {content: "● ";}

ol#page_one { counter-reset: item }
ol#page_two { counter-reset: item 6 }
	
.map {float:right; margin-top:5px; margin-bottom:5px;}

.contacts p {font-size:14px; line-height:20px; padding:5px 0;}

.footer .right {text-align:right;}
.footer {border-top:1px solid #F2F2F2; padding:20px 0;}

.map {display:block; width:413px; height:295px; background-image:url(i/map.png);}

a.showmap img {display:none;}
#uniquename3 {display:none; position:absolute; z-index:250; width:413px; float:left; margin-left:-413px;height:295px; background-image:url(i/map.png);}

#more, #docs1, #docs2 {display:none;}

.ptable {width:100%;}
.ptable thead td {padding:7px 10px; color:#4D4D4D;font-weight:bold;}
.ptable tbody td {padding:3px 10px;color:#1A1A1A; border-bottom:1px solid #fff;}
.ptable .tr1 td {background-color:#E6E6E6;}
.ptable .tr2 td {background-color:#F2F2F2;}
.ptable .tr3 td {background-color:#fff;}

.pt1 thead .td4 {padding-left:50px;}
.pt1 thead .td56 {padding-left:30px;}
.pt1 thead .td78 {padding-left:30px;}
.pt1 thead .td90 {padding-left:30px;}

.pt1 tbody td.td1 {text-align:right;width:20px;}
.pt1 tbody td.td2 {text-align:center;width:12px;padding:0;}
.pt1 tbody td.td3 {text-align:left;}
.pt1 tbody td.td5 {text-align:right;}
.pt1 tbody td.td6 {text-align:left;padding-left:0;}
.pt1 tbody td.td7 {text-align:right;}
.pt1 tbody td.td8 {text-align:left;padding-left:0;}
.pt1 tbody td.td9 {text-align:right;}
.pt1 tbody td.td0 {text-align:left;padding-left:0;}


.pt2 tbody td.td1 {text-align:right;width:20px;}
.pt2 tbody td.td2 {text-align:center;width:12px;padding:0;}
.pt2 tbody td.td3 {text-align:left;}

em {font-style:italic;color:#4D4D4D; padding:0 10px 10px 10px;display:block;}

.pt3 tbody td.td1 {width:560px;}
.pt3 tbody td.td2 {}

.pricetxt {background: url(i/pricetxt.png) 0 0 no-repeat;height:45px;width:250px;}

.top em {padding:0;}